.player {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    background-color: rgba(137, 137, 137, 0.776);
    color: black;
    font-family: 'Roboto', sans-serif;
    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
    }
}